<style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }

  </style>
  <script>
  (function( $ ) {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            tooltipClass: "ui-state-highlight"
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          //.attr( "title", "Mostrar todas las opciones" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .mousedown(function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .click(function() {
            input.focus();
 
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " no es una opción válida" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.data( "ui-autocomplete" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
  })( jQuery );
  </script>
<script>
   $(function() {
    $( "#menu_modelo_id" ).combobox();
  });
  $(function() {
    $( "#menu_accion_id" ).combobox();
  });
  $(function() {
    $( "#catalogo_ctlg_valor_cdg" ).combobox();
    
  });
  $(function() {
    $( "#menu_mnu_tipo_elemento" ).combobox();
    
  });
  </script>
  
<%= form_for(@menu) do |f| %>
	<% if @menu.errors.any? %>
    	<div id="error_explanation">
      		<h2><%= pluralize(@menu.errors.count, "error", "errores") %> no permite(n) que este registro sea grabado: </h2>
      		<ul>
      			<% @menu.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      			<% end %>
      		</ul>
    	</div>
  	<% end %>
	
	<div class="form_fields">
		<div class="form_column">
			<div class="field">
				<%= f.label :Tipo_Elemento, "Tipo Elemento *" %><br>
			    <%= f.select :mnu_tipo_elemento, [['COMPONENTE', 'C'], ['OPCION','O'], ['TITULO','T'], ['PARRAFO','P'], ['IMAGEN','I']] , prompt: ''%>
			</div>
			<div class="field">
		    	<%= f.label :Etiqueta_HTML, "Etiqueta HTML *" %><br>
		    	<%= f.text_field :mnu_etiqueta_html, options= {size: 20, maxlength: 20, required: :required, "data-validation" => "length alphanumeric", "data-validation-allowing" => " ", "data-validation-length" => "min1"} %>
			</div>
			<div class="field">
	    		<%= f.label :Clase_CSS, "Clase CSS" %><br>
	    		<%= f.text_field :mnu_clase_css, options= {size: 35, maxlength: 35, "data-validation" => "alphanumeric", "data-validation-optional" => "true"} %>
  			</div>
		  	<div class="field">
	    		<%= f.label :Propiedades_HTML, "Propiedades HTML" %><br>
	    		<%= f.text_field :mnu_props_html, options= {size:35, maxlength: 35} %>
	  		</div>
  			<div class="field">
				<%= f.label :Texto %><br>
				<%= f.text_field :mnu_texto, options= {size:60, maxlength: 60, , "data-validation" => "alphanumeric", "data-validation-allowing" => " ", "data-validation-optional" => "true"} %>
  			</div>
  		</div>
  		<div class="form_column">
			<div class="field">
    			<%= f.label :Elemento_padre %><br>
    			
    			<% if action_name == "new" then %>
    				<% padre_id = params[:menu_id] %>
    				<%= f.text_field :mnu_padre, value: padre_id, onfocus: "blur();" %>
    				
    				<% orden = Menu.where("mnu_padre = " + padre_id.to_s).maximum("mnu_orden") %>
    				<% orden ||= 0 %>
    				<% orden = orden + 1 %>
    			<% elsif action_name == "edit" then %>
					<%= f.number_field :mnu_padre %>
				<% end %>
			</div>
			<div class="field">
	    		<%= f.label :Orden %><br>
	    		<% if action_name == "new" then %>
	    			<%= f.text_field :mnu_orden, value: orden, onfocus: "blur();" %>
	    		<% else %>
	    			<%= f.number_field :mnu_orden %>
	    		<% end %>
			</div>
			<div class="field">
	    		<%= f.label :Modelo_Destino %><br>
				<%= f.select :modelo_id, @modelos.map{|u| [u.mdl_nombre, u.id]}.insert(nil.to_f, nil) %>
			</div>
			<div class="field">
	    		<%= f.label :Accion_Destino %><br>
				<%= f.select :accion_id, @acciones.map{|u| [u.acc_nombre, u.id]}.insert(nil.to_f, nil) %>
			</div>
		</div>
  	</div>
	<div class="bottom">
  		<div class="actions">
    		<% if action_name == "edit"%>
				<%= f.submit "Aceptar", class: "cmd save", id: :cmd_aceptar %> |
				<%= link_to 'Consultar', @menu, class: "cmd star", id: :cmd_consultar %> |
			<% elsif action_name == "new" or action_name =="create" %>
				<script>
					$(function(){
						$("#cmd_aceptar")
						.click(function(){
							$('#new_menu').submit();
						});
					});
				</script>
				<%= link_to "Aceptar", nil, class: "cmd save", id: :cmd_aceptar %> |
				
			<% end %>
			<%= link_to 'Regresar', menus_url, class: "cmd previous", id: :cmd_regresar %>
  		</div>
  	</div>
<% end %>
