<script>
$(document).ready(function() {
    $('#table_index').dataTable( {
    	"bJQueryUI": true,
        "sPaginationType": "full_numbers"
    } );
} );
</script>
<div class="wrapper">
<div class="content">
<div class="form_wrapper">
<h3>Cat&aacute;logos</h3>
<br/>
<div class="form buscar">
<%= form_tag perfils_path, method: 'get' do %>

  &nbsp;
  <%= label_tag(:prf_nombre, "Nombre") %>
  <%= text_field(:perfil, :prf_nombre, size:50) %>
  &nbsp;
  <%= label_tag(:prf_descripcion, "Descripción") %>
  <%= text_field(:perfil, :prf_descripcion, size:60) %>
  
  <%= submit_tag "Buscar" %>
</div>
<% end %>
<!--div class="table"-->
	<center>

<table id="table_index">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th width="5%">Codigo</th>
      <th>Descripci&oacute;n</th>
      <th>Observaci&oacute;n</th>
      <th>Estado registro</th>
      <th width="10%"></th>
      <th width="10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogos.each do |catalogo| %>
      <tr>
        <td><%= catalogo.ctlg_categoria %></td>
        <td><%= catalogo.ctlg_subcategoria %></td>
        <td><%= catalogo.ctlg_valor_cdg %></td>
        <td><%= link_to catalogo.ctlg_valor_desc, catalogo %></td>
        <td><%= catalogo.ctlg_observacion %></td>
        <td><%= catalogo.ctlg_estado_registro %></td>
        <td><%= link_to 'Modificar', edit_catalogo_path(catalogo), class: "cmd edit" %></td>
        <td><%= link_to 'Eliminar', catalogo, method: :delete, data: { confirm: '¿Está seguro de eliminar este registro?' } , class: "cmd delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<!--/div-->

<div class="bottom">
<%= link_to 'Crear catálogo', new_catalogo_path, class: "cmd add" %>
</div>

</div>
</div>
</div>

