<% if notice != nil then %>
	<div class="notibox success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Dato Entidad </h3>
			<div class="form">
				<div class = "form_fields">
					<table>
						<tbody>
							<tr>
								<td><strong>Categoria:</strong></td>
								<td><%= @dato_entidad.ent_dato_categoria %></td>
							</tr>
							<tr>
  								<td><strong>Subcategoria:</strong></td>
  								<td><%= @dato_entidad.ent_dato_subcategoria %></td>
							</tr>
							<tr>
  								<td><strong>Codigo:</strong></td>
  								<td><%= @dato_entidad.ent_dato_codigo %></td>
							</tr>
							<tr>
							  <td><strong>Descripcion:</strong></td>
							  <td><%= @dato_entidad.ent_dato_descripcion %></td>
							</tr>
							<tr>
								<td><strong>Valor:</strong></td>
							  	<td><%= @dato_entidad.ent_dato_valor %></td>
							</tr>
							<tr>
								<td><strong>Observacion:</strong></td>
							  	<td><%= @dato_entidad.ent_dato_observacion %></td>
							</tr>							<tr>
  								<td><strong>Estado registro:</strong></td>
  								<td><%= @dato_entidad.ent_dato_estado_registro %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="bottom">
				<%= link_to 'Editar', edit_dato_entidad_path(@dato_entidad), class: "cmd edit" %> |
				<%= link_to 'Regresar', dato_entidads_path, class:"cmd previous" %>
			</div>
		</div><!--form_wrapper-->
	</div><!--content-->
</div><!--wrapper-	
