<script>
$(document).ready(function() {
    $('#table_index').dataTable( {
    	"bJQueryUI": true,
        "sPaginationType": "full_numbers"
    } );
} );
</script>

<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Controles</h3>
			<center>
				<br/>
				<table id="table_index">
  					<thead>
    					<tr>
					      <th>Descripci&oacute;n</th>
					      <th>HTML ID</th>
					      <th>Tipo</th>
					      <th></th>
					      <th></th>
					    </tr>
  					</thead>

  					<tbody>
				    	<% @controls.each do |control| %>
				      		<tr>
				        		<td><%= link_to control.ctrl_descripcion, control %></td>
				        		<td><%= control.ctrl_html_id %></td>
				        		<% tipo_control = Catalogo.find_by ctlg_categoria: 'APLICACION', ctlg_subcategoria: 'TIPO DE CONTROL', ctlg_valor_cdg: control.ctrl_tipo %>
				        		<td><%= tipo_control.ctlg_valor_desc %></td>
				        		<td><%= link_to 'Editar', edit_control_path(control), class: "cmd edit", id: :cmd_editar %></td>
				        		<td><%= link_to 'Borrar', control, method: :delete, data: { confirm: '¿Está seguro de eliminar este registro?' }, class:"cmd delete", id: :cmd_borrar %></td>
				      		</tr>
				    	<% end %>
  					</tbody>
				</table>
			</center>
			<div class="bottom">
				<%= link_to 'Crear control', new_control_path, class: "cmd add", id: :cmd_crear %>
			</div>
		</div>
	</div>
</div>