<% if notice != nil then %>
	<div class="notibox success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<p>
  <strong>Descripción:</strong>
  <%= @control.ctrl_descripcion %>
</p>

<p>
  <strong>HTML_ID:</strong>
  <%= @control.ctrl_html_id %>
</p>

<p>
  <strong>Tipo de Control:</strong>
  <%= @control.ctrl_tipo %>
</p>

<%= link_to 'Editar', edit_control_path(@control), class: "cmd edit" %> |
<%= link_to 'Regresar', controls_path, class:"cmd previous" %>
