<% if notice != nil then %>
	<div class="notibox success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Control</h3>
			<div class="form">
				<div class = "form_fields">
					<table>
						<tbody>
							<tr>
  								<td><strong>Descripción:</strong></td>
  								<td><%= @control.ctrl_descripcion %></td>
							</tr>
							<tr>
  								<td><strong>HTML_ID:</strong></td>
  								<td><%= @control.ctrl_html_id %></td>
							</tr>
							<tr>
  								<td><strong>Tipo de Control:</strong></td>
  								<td><%= @control.ctrl_tipo %></td>
							</tr>
						</tbody>
					</table>
				</div>
					
			<div class="bottom">
				<%= link_to 'Editar', edit_control_path(@control), class: "cmd edit", id: :cmd_editar %> |
				<%= link_to 'Regresar', controls_path, class:"cmd previous", id: :cmd_regresar %>
			</div>
		</div><!--form_wrapper-->
	</div><!--content-->
</div><!--wrapper-->
