<script>
$(document).ready(function() {
    $('#table_index').dataTable( {
    	"bJQueryUI": true,
        "sPaginationType": "full_numbers"
    } );
} );
</script>

<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Paquetes turísticos</h3>
			<center>
				<br/>
				<table id="table_index">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo paquete</th>
      <th>Tipo destino</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody> 
    <% @paquete_turisticos.each do |paquete_turistico| %>
      <tr>
        <td><%= link_to paquete_turistico.pqt_nombre, paquete_turistico %></td>
        <td><%= paquete_turistico.pqt_tipo_paquete %></td>
        <td><%= paquete_turistico.pqt_tipo_destino %></td>
        <td><%= link_to 'Editar', edit_paquete_turistico_path(paquete_turistico) %></td>
        <td><%= link_to 'Borrar', paquete_turistico, method: :delete, data: { confirm: '¿Está seguro de eliminar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
			</center>
			<div class="bottom">
				<%= link_to 'Crear paquete turístico', new_paquete_turistico_path, class: "cmd add", id: :cmd_crear %>
			</div>
		</div>
	</div>
</div>