<% if notice != nil then %>
	<div class="notibox success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Divisi&oacute;n Territorial Pa&iacute;s</h3>
			<div class="form">
				<div class = "form_fields">
					<table>
						<tbody>
							<tr>
							  <td><strong>Pa&iacute;s:</strong></td>
							  <td><%= @division_territorial_pai.entidad_territorial.enter_nombre_oficial %></td>
							</tr>
							
							<tr>
							  <td><strong>Division territorial:</strong></td>
							  <td><%= @division_territorial_pai.division_territorial.dvt_nombre %></td>
							</tr>
							
							<tr>
							  <td><strong>Nivel:</strong></td>
							  <td><%= @division_territorial_pai.dte_nivel %></td>
							</tr>
							
							<tr>
							  <td><strong>Estado registro:</strong></td>
							  <td><%= @division_territorial_pai.dte_estado_registro %></td>
							</tr>
						</tbody>
					</table>
				</div>
					
			<div class="bottom">
				<%= link_to 'Editar', edit_division_territorial_pai_path(@division_territorial_pai), class: "cmd edit", id: :cmd_editar %> |
				<%= link_to 'Regresar', division_territorial_pais_path, class:"cmd previous", id: :cmd_regresar %>
			</div>
		</div><!--form_wrapper-->
	</div><!--content-->
</div><!--wrapper-->

