<script>
$(document).ready(function() {
    $('#table_index').dataTable( {
    	"bJQueryUI": true,
        "sPaginationType": "full_numbers"
    } );
} );
</script>

<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Modelos</h3>
			<center>
				<br/>
				<table id="table_index">
					<thead>
				    	<tr>
				      		<th>Codigo</th>
				      		<th>Nombre</th>
				      		<th></th>
				      		<th></th>
				    	</tr>
				  	</thead>
				
				  	<tbody>
				    	<% @modelos.each do |modelo| %>
				      		<tr>
				        		<td><%= modelo.mdl_codigo %></td>
				        		<td><%= link_to modelo.mdl_nombre, modelo %></td>
				        		<td><%= link_to 'Editar', edit_modelo_path(modelo), class: "cmd edit", id: :cmd_editar %></td>
				        		<td><%= link_to 'Borrar', modelo, method: :delete, data: { confirm: '¿Está seguro de eliminar este registro?' } , class: "cmd delete", id: :cmd_borrar %></td>
				      		</tr>
				    	<% end %>
				  	</tbody>
				</table>
			</center>
			<div class="bottom">
				<%= link_to 'Crear modelo', new_modelo_path, class: "cmd add", id: :cmd_crear %>
			</div>
		</div>
	</div>
</div>
