<% if notice != nil then %>
	<div class="notibox success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Usuario</h3>
			<div class="form">
				<div class = "form_fields">
					<table>
						<tbody>
							<tr>
					  			<td><strong>C&oacute;digo:</strong></td>
					  			<td><%= @accion.acc_codigo %></td>
							</tr>
							<tr>
					  			<td><strong>Nombre:</strong></td>
					  			<td><%= @accion.acc_nombre %></td>
							</tr>
							<tr>
								<td><strong>Estado registro:</strong></td>
								<td><%= @accion.acc_estado_registro %></td>
							</tr>
						</tbody>
					</table>
				</div>
			<div class="bottom">
				<%= link_to 'Editar', edit_accion_path(@accion), class: "cmd edit", id: :cmd_editar %> |
				<%= link_to 'Regresar', accions_path, class:"cmd previous", id: :cmd_regresar %>
			</div>
		</div><!--form_wrapper-->
	</div><!--content-->
</div><!--wrapper-	