<% if notice != nil then %>
	<div class="notibox information">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>

<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Cambiar contraseña</h3>
			<br/>
			<%= form_tag '/usuarios/change_password', id:'frmChangePassword' do %>
				<div class="form_fields">
				  	<div class="field">
				    	<%= label :Contrasena, "Nueva contraseña" %><br>
				    	<%= password_field :usr_contrasena, nil, size:40, maxlength:30 %>
				  	</div>
				  	<div class="field">
				    	<%= label :Contrasena, "Confirmar contraseña" %><br>
				    	<%= password_field :usr_contrasena_conf, nil, size:40, maxlength:30 %>
				  	</div>
				</div>
				<div class="bottom">
					<%= submit_tag "Aceptar", class: "cmd save" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
