<% if notice != nil then %>
	<div class="notibox success">
		<p id="notice"><%= notice %></p>
	</div>
<% end %>
<div class="wrapper">
	<div class="content">
		<div class="form_wrapper">
			<h3>Usuario</h3>
			<div class="form">
				<div class = "form_fields">
					<table>
						<tbody>
							<tr>
  								<td width="15%"><strong>Tipo docum ident:</strong></td>
  								<td width="20%"><%= @usuario.usr_tipo_docum_ident %></td>
								<td width="15%"><strong>Foto:</strong></td>
  								<td width="20%"><%= @usuario.usr_foto %></td>
							</tr>
  								<td><strong>Nro docum ident:</strong></td>
  								<td><%= @usuario.usr_nro_docum_ident %></td>
  								<td><strong>Genero:</strong></td>
  								<%genero = Catalogo.find_by ctlg_categoria: "GENERO", ctlg_valor_cdg: @usuario.usr_genero %>
  								<td><%= genero.ctlg_valor_desc %></td>
							</tr>
							<tr>
								<td><strong>Nombres:</strong></td>
  								<td><%= @usuario.usr_nombres %></td>
  								<td><strong>Tipo cliente:</strong></td>
  								<%tipo_cliente = Catalogo.find_by ctlg_categoria: "TIPO CLIENTE", ctlg_valor_cdg: @usuario.usr_tipo_cliente %>
  								<td><%= tipo_cliente.ctlg_subcategoria + " - " + tipo_cliente.ctlg_valor_desc %></td>
							</tr>
							<tr>
								<td><strong>Apellidos:</strong></td>
  								<td><%= @usuario.usr_apellidos %></td>
								<td><strong>Estado:</strong></td>
								<%estado = Catalogo.find_by ctlg_categoria: "ESTADO REGISTRO", ctlg_valor_cdg: @usuario.usr_estado %>
								<td><%= estado.ctlg_valor_desc %></td>
							</tr>
							<tr>
								<td><strong>Correo electronico:</strong></td>
  								<td><%= @usuario.usr_correo_electronico %></td>
  								<td><strong>Usr fecha nacimiento:</strong></td>
  								<td><%= @usuario.usr_fecha_nacimiento %></td>
							</tr>
							<tr>
								<td><strong>Perfil:</strong></td>
								<%perfil = Perfil.find(@usuario.perfil)%>
  								<td><%= perfil.prf_descripcion %></td>
							</tr>
						</tbody>
					</table>
				</div>
			<div class="bottom">
				<%= link_to 'Editar', edit_usuario_path(@usuario), class: "cmd edit" %> |
				<%= link_to 'Regresar', usuarios_path, class: "cmd previous" %>
			</div>
		</div><!--form_wrapper-->
	</div><!--content-->
</div><!--wrapper-	