<p id="notice"><%= notice %></p>

<p>
  <strong>Usr tipo docum ident:</strong>
  <%= @usuario.usr_tipo_docum_ident %>
</p>

<p>
  <strong>Usr nro docum ident:</strong>
  <%= @usuario.usr_nro_docum_ident %>
</p>

<p>
  <strong>Usr nombres:</strong>
  <%= @usuario.usr_nombres %>
</p>

<p>
  <strong>Usr apellidos:</strong>
  <%= @usuario.usr_apellidos %>
</p>

<p>
  <strong>Usr correo electronico:</strong>
  <%= @usuario.usr_correo_electronico %>
</p>

<p>
  <strong>Usr contrasena:</strong>
  <%= @usuario.usr_contrasena %>
</p>

<p>
  <strong>Usr tipo contrasena:</strong>
  <%= @usuario.usr_tipo_contrasena %>
</p>

<p>
  <strong>Usr fecha nacimiento:</strong>
  <%= @usuario.usr_fecha_nacimiento %>
</p>

<p>
  <strong>Usr genero:</strong>
  <%= @usuario.usr_genero %>
</p>

<p>
  <strong>Usr foto:</strong>
  <%= @usuario.usr_foto %>
</p>

<p>
  <strong>Usr fch ultimo ingreso:</strong>
  <%= @usuario.usr_fch_ultimo_ingreso %>
</p>

<p>
  <strong>Usr tipo cliente:</strong>
  <%= @usuario.usr_tipo_cliente %>
</p>

<p>
  <strong>Usr fecha ultima salida:</strong>
  <%= @usuario.usr_fecha_ultima_salida %>
</p>

<p>
  <strong>Usr fch vigencia contrasena:</strong>
  <%= @usuario.usr_fch_vigencia_contrasena %>
</p>

<p>
  <strong>Usr estado:</strong>
  <%= @usuario.usr_estado %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @usuario.perfil %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
